@model projectWEB.ViewModels.PageViewModel
@{
    var baseModel = Model;

    if (baseModel == null)
    {
        baseModel = new projectWEB.ViewModels.PageViewModel();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_MetaTags", baseModel)
    @await Html.PartialAsync("_HeaderStylesScripts")
    @RenderSection("IncludeHeaderStylesScripts", false)
    @*<link href="~/MetisMenu/metismenujs.min.css" rel="stylesheet" />*@
    @*<link href="~/css/metisMenu.css" rel="stylesheet" />*@
    <link href="~/Slinky/slinky2.min.css" rel="stylesheet" />
</head>
<body>

    @await Html.PartialAsync("_Header")

    @RenderBody()
    @await Html.PartialAsync("_Footer")
    @await Html.PartialAsync("_Variables")
    @await Html.PartialAsync("_FooterStylesScripts")
    @RenderSection("IncludeFooterStyleScripts", false)
    <script src="~/Slinky/slinky.min.js"></script>
    <script>
        window.slinky = $('.sidebar-nav #menu').slinky()
    </script>
</body>
</html>

