@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>oops, Wrong Url</h1>

<p>Error @ViewBag.Errorid</p>
<div class="container">

    <div class="row">
        <div class="span12">
            <div class="aligncenter">
                <i class="icon-circled icon-bgwarning icon-remove icon-4x"></i>
            </div>
            <div class="blankline30"></div>
            <h3 class="aligncenter">Sorry requested page not found</h3>
            <p class="aligncenter">
                Yeah.. You're Probably weren't supposed to be here. Thats why you got an Error
            </p><br>
            <a asp-controller="Items" asp-action="Mainshop">Take me back to the store</a>
        </div>

    </div>



</div>