@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    name
                </th>
                <th>
                    quantity
                </th>
                <th>
                    price
                </th>
                <th>
                    category
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IEnumerable<dynamic>)ViewBag.Details)
            {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @item.quantity
                </td>
                <td>
                    @(item.price * item.quantity)
                </td>
                <td>
                    @item.category
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>